[2021-09-30 05:51] apoorvcodes opened #1 "Can i add regex?"

[2021-09-30 05:51] apoorvcodes commented on #1
Can i do a pr to add some regex questions

[2021-09-30 06:22] skully-coder commented on #1
Hi @apoorvcodes sure, you can add questions on Regex under the Strings folder. Make sure that you follow the contribution guidelines

[2021-09-30 11:58] apoorvcodes commented on #1
sure

[2021-09-30 17:15] skully-coder opened #2 "Rewrite README.md"
I need help in rewriting the README.md file for this project so that it is easier to understand and looks more decorative. Anyone interested can comment on this issue

[2021-10-01 05:01] coffeeCoder69 commented on #2
I want to do it

[2021-10-01 05:05] skully-coder commented on #2
Alright @coffeeCoder69 assigning this issue to you

[2021-10-01 09:06] suvanbalu opened #12 "Math Problems"
Can I add folder with problems related to math, like Integer to base 3 and complete an arithmetic sequence ?

[2021-10-01 09:22] skully-coder commented on #12
Hey @suvanbalu !
Sure you can add Math problems. Make sure that you follow the contribution guidelines for the repository.

[2021-10-01 15:37] skully-coder commented on #1
@apoorvcodes are you adding any files? Or should I close this issue?

[2021-10-01 17:59] #12 closed

[2021-10-02 04:30] #2 closed

[2021-10-02 04:32] skully-coder commented on #1
Closing this issue as it is stale.

[2021-10-02 04:32] #1 closed

[2021-10-02 04:35] skully-coder opened #25 "Creating a website version of this repo"
I need help in creating a website version of this repository. If anyone wants to take up this issue, comment here.

[2021-10-02 07:01] skully-coder opened #27 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in BackTracking\WellFormedParanthesis\main.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[BackTracking\WellFormedParanthesis\main.cpp:20](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/BackTracking/WellFormedParanthesis/main.cpp#L2

[2021-10-02 07:01] skully-coder opened #28 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Stack\Maximum Rectangular Area in a Histogram\Maximum_Rectangular_Area_in_Histogram.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Stack\Maximum Rectangular Area in a Histogram\Maximum_Rectangular_Area_in_Histogram.cpp:45](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/St

[2021-10-02 07:02] skully-coder opened #29 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in deque\PLayWIthSTL\Solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[deque\PLayWIthSTL\Solution.cpp:44](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/deque/PLayWIthSTL/Solution.cpp#L44)

[2021-10-02 07:02] skully-coder opened #30 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in deque\PLayWIthSTL\Solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[deque\PLayWIthSTL\Solution.cpp:12](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/deque/PLayWIthSTL/Solution.cpp#L12)

[2021-10-02 07:02] skully-coder opened #31 "Fix 'Redundant blank line at the end of a code block should be deleted.' issue in Stack\Stock_span\Stock_span.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the end of a code block should be deleted.

It's currently on:
[Stack\Stock_span\Stock_span.cpp:34](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Stack/Stock_span/Stock_span.cpp#L34)

[2021-10-02 07:02] skully-coder opened #32 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Stack\Stock_span\Stock_span.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Stack\Stock_span\Stock_span.cpp:12](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Stack/Stock_span/Stock_span.cpp#L12)

[2021-10-02 07:02] skully-coder opened #33 "Fix 'Top-level class Rearrange has to reside in its own source file.' issue in Array\Rearrange_array\Rearrange_array.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Top-level class Rearrange has to reside in its own source file.

It's currently on:
[Array\Rearrange_array\Rearrange_array.java:37](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Array/Rearrange_array/Rearrange_array.java#L37)

[2021-10-02 07:02] skully-coder opened #34 "Fix 'The name of the outer type and the file do not match.' issue in Array\Rearrange_array\Rearrange_array.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: The name of the outer type and the file do not match.

It's currently on:
[Array\Rearrange_array\Rearrange_array.java:5](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Array/Rearrange_array/Rearrange_array.java#L5)

[2021-10-02 07:02] skully-coder opened #35 "Fix 'Redundant blank line at the end of a code block should be deleted.' issue in String\Pangrams\solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the end of a code block should be deleted.

It's currently on:
[String\Pangrams\solution.cpp:30](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/String/Pangrams/solution.cpp#L30)

[2021-10-02 07:03] skully-coder opened #36 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in String\Pangrams\solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[String\Pangrams\solution.cpp:6](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/String/Pangrams/solution.cpp#L6)

[2021-10-02 07:03] skully-coder opened #37 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in String\Pangrams\solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[String\Pangrams\solution.cpp:35](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/String/Pangrams/solution.cpp#L35)

[2021-10-02 07:03] skully-coder opened #38 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Greedy\Coin Problem\coinprob.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Greedy\Coin Problem\coinprob.cpp:19](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Greedy/Coin%20Problem/coinprob.cpp#L19)

[2021-10-02 07:03] skully-coder opened #39 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Greedy\Patching Array\main.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Greedy\Patching Array\main.cpp:11](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Greedy/Patching%20Array/main.cpp#L11)

[2021-10-02 07:03] skully-coder opened #40 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in String\String Rotation\stringsarerotation.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[String\String Rotation\stringsarerotation.cpp:6](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/String/String%20Rotation/stringsarerotation.c

[2021-10-02 07:03] skully-coder opened #41 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in String\String Reversal\reverse_string.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[String\String Reversal\reverse_string.cpp:17](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/String/String%20Reversal/reverse_string.cpp#L17)

[2021-10-02 07:03] skully-coder opened #42 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Array\First Repeating Element\solution.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Array\First Repeating Element\solution.cpp:5](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Array/First%20Repeating%20Element/solution.cpp#L

[2021-10-02 07:03] skully-coder opened #43 "Fix 'String statement has no effect' issue in Math\roman_numeral\roman_numeral.py"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: String statement has no effect

It's currently on:
[Math\roman_numeral\roman_numeral.py:14](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Math/roman_numeral/roman_numeral.py#L14)

[2021-10-02 07:03] skully-coder opened #44 "Fix 'Trailing newlines' issue in Math\roman_numeral\roman_numeral.py"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Trailing newlines

It's currently on:
[Math\roman_numeral\roman_numeral.py:18](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Math/roman_numeral/roman_numeral.py#L18)

[2021-10-02 07:03] skully-coder opened #45 "Fix 'Consider using enumerate instead of iterating with range and len' issue in Array\Find the Duplicate Number\main.py"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/overview/main) found an issue: Consider using enumerate instead of iterating with range and len

It's currently on:
[Array\Find the Duplicate Number\main.py:26](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Array/Find%20the%20Duplicate%20Number/main.py#L26)

[2021-10-02 07:40] Novaenn commented on #35
I'll work on this.

[2021-10-02 09:00] skully-coder commented on #35
Okay @Novaenn !
I am assigning this issue to you.

[2021-10-02 09:00] Athi223 commented on #25
Hello mate,
I'd like to contribute to this. Could you explain in brief what all is expected on the website?

This is what I could think of:

- A React based website (just a personal preference, also useful if hosting via github pages)
- A homepage containing brief info - Topics covered on repo, languages used in them, etc.
- A category for each folder(topic)
- Formatted code viewer for all problem

[2021-10-02 09:01] #35 closed

[2021-10-02 09:06] skully-coder commented on #25
Hey @Athi223 !
Thanks for taking the initiative! I was thinking of a website hosted on GitHub Pages, and all the rest of the views you have. You can start working on this if you want. Make sure that the website will automatically update itself to adjust for code changes and new issues. I wish you the best of luck!

[2021-10-02 10:03] coffeeCoder69 opened #47 "Add Kadane's algorithm problem (largest contiguous subarray problem)"

[2021-10-02 13:01] #45 closed

[2021-10-02 13:03] #47 closed

[2021-10-02 13:04] VibhuRajput commented on #47
I am Interested, assign it to me

[2021-10-02 13:05] skully-coder commented on #47
This issue has already been closed. You can work on any of the other issues.

[2021-10-02 14:14] UnknownAbyss commented on #41
Hey I'll take this up, cool?

[2021-10-02 14:51] suvanbalu commented on #43
The string statement holds the Roman Numeral. So it has effect.

[2021-10-02 15:37] AW-STRAKH commented on #42
Hi ,
Can I pick this issue in order to resolve the aforementioned error.
Thanks

[2021-10-02 15:46] jadhav-kunal commented on #41
Hey, Can I take this up? Still available?

[2021-10-02 15:50] shreyas-bhardwaj commented on #39
I would like to take this up!

[2021-10-02 15:51] aniketh-varma commented on #29
Hello, I would like to work on this issue.

[2021-10-02 17:34] skully-coder commented on #43
Thank you for pointing this out!
Closing this issue.

[2021-10-02 17:34] #43 closed

[2021-10-02 17:35] skully-coder commented on #42
assigning this to @AW-STRAKH

[2021-10-02 17:36] skully-coder commented on #41
Key @jadhav-kunal this issue has been resolved, so closing.

[2021-10-02 17:36] #41 closed

[2021-10-02 17:36] #39 closed

[2021-10-02 17:37] skully-coder commented on #29
Hey @aniketh-varma assigning this to you.

[2021-10-02 18:04] jadhav-kunal commented on #34
Hey , Can I take this up?

[2021-10-02 18:07] jadhav-kunal commented on #33
Hey, Can I take this up?

[2021-10-02 19:12] Paawan9700 commented on #31
can i fix the issue?

[2021-10-02 20:28] Harshi-itaSinha commented on #40
why no page found ? When I click on this link?

[2021-10-02 20:30] Harshi-itaSinha commented on #40
I am new here can someone tell me How to contribute ?

[2021-10-02 21:06] Harshi-itaSinha commented on #38
Assign this to me

[2021-10-03 04:17] creater-shikha commented on #42
i want to work on this can i ???

[2021-10-03 04:18] creater-shikha commented on #40
I want to contribute on this but page is not found will u plz tell the issue??

[2021-10-03 04:20] imsushant12 opened #68 "Implementation of Tarjan's Algorithm"
I want to implement Trajan's Algorithm to find strongly connected component in C++. I want to work on this issue under Hacktoberfest.

[2021-10-03 04:22] imsushant12 commented on #37
I want to work on this issue, please assign me @skully-coder

[2021-10-03 05:58] swagatobag2000 commented on #36
Hi, Kindly assign this issue to me. I'm good at CPP programming and I'll fix the issue as soon as possible.

[2021-10-03 06:05] Mr-vabs commented on #27
@skully-coder
Hello 👋 , can you assign this issue to me 🤔
Also it's just to remove blank lines from solution right ?

[2021-10-03 06:13] skully-coder commented on #68
Hey @imsushant12!
Sure you can implement it. Make sure you follow the contribution guidelines for this repository before making a Pull Request.

[2021-10-03 06:16] skully-coder commented on #42
Hey @creater-shikha, this issue is already assigned to @AW-STRAKH, but if @AW-STRAKH does not do it by today, I will assign this issue to you @creater-shikha.

[2021-10-03 06:17] Mr-vabs opened #70 "Adding new programs and their solutions."
@skully-coder
Hello 👋 ,
      I wanna add some new programs of array, binary tree, and linked list but if you allow me to do.

Kindly look into this and assign me if it requires, also let me know the answer of my another comment ( from another issue ) .

I'll be happy to contribute.

[2021-10-03 06:19] skully-coder commented on #40
Hey, my apologies because I had changed the name of the repository. That is why the link is not working.
Anyways the error has already been resolved, so closing this issue.

[2021-10-03 06:19] #40 closed

[2021-10-03 06:19] Mr-vabs commented on #28
@skully-coder please assign me this issue

[2021-10-03 06:21] skully-coder commented on #70
Hey @Mr-vabs!
You can add new programs, just make sure they abide by the contributing guidelines for this repo.
Also, can you mention the issue you made a comment on?

[2021-10-03 06:22] #38 closed

[2021-10-03 06:22] #44 closed

[2021-10-03 06:22] Mr-vabs commented on #70
@skully-coder  I can add traversal and and deletion updation programs right ?

[2021-10-03 06:23] skully-coder commented on #37
Assigned it to you @imsushant12

[2021-10-03 06:23] whyadiwhy commented on #68
I want to implement Trajan's Algorithm to find strongly connected component in C. I want to work on this issue under Hacktoberfest

[2021-10-03 06:24] Mr-vabs commented on #28
@skully-coder this issue and am I allowed to fix all blank line  issues ?

[2021-10-03 06:26] skully-coder commented on #70
Sure @Mr-vabs!
Just make sure they abide by the contributing guidelines for this repo, i.e. these programs do not already exist in the repo.

[2021-10-03 06:27] skully-coder commented on #28
@Mr-vabs you can fix all blank lines issues.

[2021-10-03 06:28] skully-coder commented on #27
Yes @Mr-vabs

[2021-10-03 06:29] #36 closed

[2021-10-03 06:29] skully-coder commented on #36
This has already been fixed

[2021-10-03 06:30] skully-coder commented on #68
Hey @whyadiwhy!
This issue has already been assigned.

[2021-10-03 06:31] skully-coder commented on #31
Hey @Paawan9700!
This has already been fixed.

[2021-10-03 06:31] #31 closed

[2021-10-03 06:32] skully-coder commented on #33
Hey @jadhav-kunal!
Yes you can.

[2021-10-03 06:33] #34 closed

[2021-10-03 06:39] aniketh-varma commented on #30
Hello, fixed an issue with this file. Should I also take up this issue if available?

[2021-10-03 06:52] AW-STRAKH commented on #42
Hi,
I am unable to access the link that you have provided , codeshare is prompting its a bad link. Can I share a new submission or can u provide the link for it
I shall be greatful
Thanks

[2021-10-03 06:55] coffeeCoder69 commented on #68
@whyadiwhy you too have been assigned this issue as you have done it in a different language

[2021-10-03 07:05] coffeeCoder69 commented on #68
@whyadiwhy can you create a pull request with only the `.c` file, inside this folder
![image](https://user-images.githubusercontent.com/55917659/135743801-cc1dc7e5-4f32-48ae-8c27-212856235e0c.png)

[2021-10-03 07:07] whyadiwhy commented on #68
Yeah sure , I apologise for placing the the file in wrong folder

[2021-10-03 07:15] coffeeCoder69 commented on #68
No, I told you because I already merged @imsushant12 's pr, since the issue was originally assigned to him. You followed the guidelines, so do not worry about that. But the issue wasnt assigned to you. Since you did it in c language, I asked you for pr.

[2021-10-03 07:18] #68 closed

[2021-10-03 08:06] Sun-0321 commented on #70
@skully-coder  I want to add a problem on finding the count of ANAGRAMS in a string.

Shall I?

[2021-10-03 08:48] Lokesh-Rathore commented on #70
Hi @Mr-vabs,I wanted to contribute to this issue.I am mostly avtive on hackerrank and codechef so I know the level and their importance in interview.I can happily add more than one problems.So can I start working on this.

[2021-10-03 08:49] Mr-vabs commented on #70
@Lokesh-Rathore  I'm not the maintainer of the repo please ask from maintainer.

[2021-10-03 08:50] Lokesh-Rathore commented on #70
hey @skully-coder I wanted to work and add onto this issue.As I am mostly active on hackerrank and codechef so I know the level and importance of questions inportant in an interview.I can happily add more than one problem.So can I start working on this project.

[2021-10-03 08:51] Lokesh-Rathore commented on #70
I am  really sorry I was confused about it.Sorry

[2021-10-03 09:32] skully-coder commented on #70
Sure @Lokesh-Rathore !
You can add new programs. Make sure that you follow the guidelines for contributing.

[2021-10-03 09:33] #42 closed

[2021-10-03 09:38] skully-coder commented on #25
Hey @Athi223!
Any progress on this?

[2021-10-03 09:44] alokmishra70 commented on #25
please assign me this issue
I am creating a website using basic HTML, CSS, and javascript

[2021-10-03 10:02] Athi223 commented on #25
@skully-coder Yes.

Here's the Homepage. For the solution part, I've currently mentioned it as `main.cpp`, needs a bit of work so it can handle multiple languages. We also be able to handle any filename, but I just thought having a consistent filename would be better, request you to give your opinion on this.
![Home](https://user-images.githubusercontent.com/31766648/135748720-d2f3af6c-874c-4ddd-9

[2021-10-03 10:04] Athi223 commented on #25
@skully-coder I've included a Dark Mode as well (the tiny button at top-right). Although people would mostly access this on PC, I've still tried to make it mobile responsive.
You can test it my cloning my fork. Just open `website` folder. Then run `npm install` and `npm start`. Will be accessible at `localhost:3000`

[2021-10-03 10:14] anuragnewbie commented on #70
hello @skully-coder sir !
Sir I also want to contribute and I want to add a wave sort array program to this issue.
Sir can I start working on it ?

[2021-10-03 10:31] Rohit5152 commented on #70
Sir i want to add a code of
Generating All Balanced Parenthesis question from leetcode.
please assign this to me.

[2021-10-03 10:35] Rohit5152 commented on #70
Sir I want to Add a program for
Permutation with Spaces.

[2021-10-03 10:48] luckysharma05 commented on #70
I have added a file of SPOJ Mixtures in dp section with code and readme both, please check.

[2021-10-03 12:16] skully-coder commented on #25
@Athi223 the website looks awesome! Kudos to you main. I will surely check it out.

[2021-10-03 12:32] skully-coder commented on #25
@Athi223 I checked the website. It looks great! I would like to add some suggestions:
1) If the code can be syntax highlighted, it would make the overall feel a lot better.
2) In the issues tab, the title column of the table looks very wide, so if the text in the title column could be wrapped it would be better, and you could also use the whole label name, instead of the colour tag.

The rest of t

[2021-10-03 13:00] amretapandey opened #94 "New Code: Run-Length Encoding of a string"
I want to add a code for performing run length encoding of a string.

[2021-10-03 13:00] amretapandey commented on #94
Please assign this issue to me.

[2021-10-03 13:11] Athi223 commented on #25
@skully-coder

Since Github API returns encoded file contents (probably base64), as of now I've just embedded an `iframe` that displays the contents of github repo (raw file) hence I couldn't manage the syntax part. I'll try to work on it as soon as the basic website is complete.

Actually I thought adding the whole labels would probably take much of the space, leaving less space for the titles, b

[2021-10-03 14:30] skully-coder commented on #70
@Rohit5152 there is already a balanced paranthesis program

[2021-10-03 14:31] skully-coder commented on #70
Yes

[2021-10-03 14:32] skully-coder commented on #94
Hey @amretapandey, you can work on this

[2021-10-03 14:34] anuragnewbie commented on #70
thank u so much sir :-)

[2021-10-03 14:34] skully-coder commented on #25
@Athi223 sure i will take your suggestions in mind.
But as for *filename* many people will keep it according to their own style, so it is better if it read all filenames from folders.

[2021-10-03 14:35] #27 closed

[2021-10-03 14:35] #28 closed

[2021-10-03 14:36] #29 closed

[2021-10-03 14:36] #30 closed

[2021-10-03 14:36] #33 closed

[2021-10-03 14:37] #32 closed

[2021-10-03 14:37] #37 closed

[2021-10-03 14:48] amretapandey commented on #94
Thanks, added

[2021-10-03 14:48] #94 closed

[2021-10-03 15:15] skully-coder commented on #25
@Athi223 if you need collaborator access to this repo, let me know.

[2021-10-03 15:23] Athi223 commented on #25
@skully-coder

Added Syntax Highlighting
![Categories](https://user-images.githubusercontent.com/31766648/135760476-d9c2dc32-6fff-41ac-88e4-b57d569e08d5.png)

Added whole label names as you suggested, guess this actually looks better 😆
![Issues](https://user-images.githubusercontent.com/31766648/135760535-f8024ba1-4c15-4571-b86a-c9f3b9e4136b.png)

Added Contributors Page, with Name, Avatar & Contr

[2021-10-03 15:24] tamal-kundu commented on #70
hey @skully-coder i can add new programs other than the existing programs and i have read the guidelines
can u please assign me? i  can work on this issue.

[2021-10-03 15:24] skully-coder commented on #25
@Athi223 can also do something where it displays the content of the README.md file when the user clicks on the problem? Like it either redirects to a new page with README at the left and code at right, or something like that, if possible. It would be really cool!

[2021-10-03 15:27] Athi223 commented on #25
Okay I'll try to see if your "two-pane" idea could be implemented, or else I'll at least add another column for "View README" button

[2021-10-03 15:29] skully-coder opened #101 "README for Coin Problem[BUG]"
## Bug Description

Need a README.md file for Coin Problem in Greedy Techniques

## Bug location

[Greedy/Coin Problem](https://github.com/skully-coder/hacktoberfest-competitiveprogramming/tree/main/Greedy/Coin%20Problem)

[2021-10-03 15:31] shinchancode opened #103 "code for operations on Binary search tree."
**Is your feature request related to a problem? Please describe.**
I wanted to add code for BST - insertion, deletion, traversal, mirror images, height etc.

**Describe the solution you'd like**
I will add code for this problem statement. The code is completely written by me.

**Describe alternatives you've considered**
I will add comment for understanding.

**Additional context**
Add any other co

[2021-10-03 15:31] skully-coder opened #104 "Need README for Delete Loop [BUG]"
## Bug Description

Need README.md for Delete Loop in Linked List
## Bug location

[Linked Lists/Delete Loop](https://github.com/skully-coder/hacktoberfest-competitiveprogramming/tree/main/Linked%20Lists/Delete%20Loop)

[2021-10-03 15:32] skully-coder commented on #25
Yeah that works too

[2021-10-03 15:33] skully-coder commented on #25
@Athi223 new features look great too!

[2021-10-03 15:33] tamal-kundu commented on #104
i would like to work on this issue..can u please assign me

[2021-10-03 15:34] shinchancode opened #105 "code for operations on Threader Binary tree."
**Is your feature request related to a problem? Please describe.**
I wanted to implement In-order Threaded Binary Tree and traverse it in In-order and Pre-order

**Describe the solution you'd like**
Tried to solve it using Predecessor, Successor.

**Describe alternatives you've considered**
Threaded Binary tree with space and time optimization

**Additional context**
Add any other context or scree

[2021-10-03 15:34] tamal-kundu commented on #101
hey @skullly-coder as i am involved in dsa..i can work on this issue..can u please assign me?

[2021-10-03 15:34] shinchancode commented on #105
I would like to work on it. Please assign me.

[2021-10-03 15:34] tamal-kundu commented on #101
hey @skullly-coder as i am involved in dsa..i can work on this issue..can u please assign me?

[2021-10-03 15:35] shinchancode commented on #103
I would like to work on it. Please assign me.

[2021-10-03 15:39] skully-coder commented on #105
@shinchancode you can do it

[2021-10-03 15:39] skully-coder commented on #104
@tamal-kundu assigned it to you

[2021-10-03 15:41] skully-coder commented on #103
@shinchancode you can add those codes, but make sure that those programs do not already exist.

[2021-10-03 15:42] skully-coder commented on #101
@tamal-kundu assigned it to you

[2021-10-03 15:42] skully-coder commented on #70
okay @tamal-kundu

[2021-10-03 15:47] GigaMoksh opened #106 "Adding some good problems of linked lists and stack."
Hi @skully-coder, I would love to add some good problems based on linked lists and stack.

[2021-10-03 15:48] skully-coder commented on #106
Okay @GigaMoksh

[2021-10-03 15:53] skully-coder opened #107 "Fix 'Top-level class ListQueue has to reside in its own source file.' issue in Queue\Reveal Cards in Increasing Order\Solution.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Top-level class ListQueue has to reside in its own source file.

It's currently on:
[Queue\Reveal Cards in Increasing Order\Solution.java:120](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Queue/Reveal%

[2021-10-03 15:53] skully-coder opened #108 "Fix 'Top-level class Node has to reside in its own source file.' issue in Queue\Reveal Cards in Increasing Order\Solution.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Top-level class Node has to reside in its own source file.

It's currently on:
[Queue\Reveal Cards in Increasing Order\Solution.java:109](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Queue/Reveal%20Car

[2021-10-03 15:53] skully-coder opened #109 "Fix 'Top-level class ArrayQueue has to reside in its own source file.' issue in Queue\Reveal Cards in Increasing Order\Solution.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Top-level class ArrayQueue has to reside in its own source file.

It's currently on:
[Queue\Reveal Cards in Increasing Order\Solution.java:14](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Queue/Reveal%

[2021-10-03 15:53] skully-coder opened #110 "Fix 'Top-level class Queue has to reside in its own source file.' issue in Queue\Reveal Cards in Increasing Order\Solution.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Top-level class Queue has to reside in its own source file.

It's currently on:
[Queue\Reveal Cards in Increasing Order\Solution.java:4](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Queue/Reveal%20Card

[2021-10-03 15:54] skully-coder opened #111 "Fix 'Complex Method' issue in Queue\Reveal Cards in Increasing Order\Solution.java"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Complex Method

It's currently on:
[Queue\Reveal Cards in Increasing Order\Solution.java:212-299](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Queue/Reveal%20Cards%20in%20Increasing%20Order/Solution.ja

[2021-10-03 15:54] skully-coder opened #113 "Fix 'Use of scanf() operation that permits buffer overflows (CWE-120)' issue in Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Use of scanf() operation that permits buffer overflows (CWE-120)

It's currently on:
[Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp:9](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Math/MillerRabbin_

[2021-10-03 15:54] skully-coder opened #114 "Fix 'Redundant blank line at the end of a code block should be deleted.' issue in Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Redundant blank line at the end of a code block should be deleted.

It's currently on:
[Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp:74](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Math/MillerRabb

[2021-10-03 15:54] skully-coder opened #115 "Fix 'Redundant blank line at the start of a code block should be deleted.' issue in Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Redundant blank line at the start of a code block should be deleted.

It's currently on:
[Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp:65](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Math/MillerRa

[2021-10-03 15:55] skully-coder opened #116 "Fix 'Redundant blank line at the end of a code block should be deleted.' issue in Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Redundant blank line at the end of a code block should be deleted.

It's currently on:
[Math\MillerRabbin_PrimalityTest\MillerRabbin.cpp:60](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Math/MillerRabb

[2021-10-03 15:55] skully-coder opened #118 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/overview/main) found an issue: Duplicate Code

It's currently on:
[Graph\Tarjans_Algorithm\TarjansAlgo.c:4-109](https://www.codefactor.io/repository/github/skully-coder/hacktoberfest-competitiveprogramming/source/main/Graph/Tarjans_Algorithm/TarjansAlgo.c#L4)
[Dynamic Programming\TarjanAlgo\T

[2021-10-03 15:56] anuragnewbie commented on #70
Hello @skully-coder  sir! I have added the wave sort array program to this issue and have created a PR...if you like my code then please merge my PR to your repo sir. Thank you.

[2021-10-03 15:59] #116 closed

[2021-10-03 16:00] #114 closed

[2021-10-03 16:00] #115 closed

[2021-10-03 16:03] biohazard2117 commented on #106
Hello @skully-coder I think I can make some great contributions to this. Assign me please.

[2021-10-03 16:10] skully-coder commented on #106
@biohazard2117 This issue has already been assigned. Kindly pick another issue.

[2021-10-03 16:15] shinchancode opened #121 "Expression Tree from postfix and prefix expression"
**Is your feature request related to a problem? Please describe.**
I would like to add code for getting expression Tree from postfix and prefix expression

**Describe the solution you'd like**
I will stack, tree traversal etc.

**Describe alternatives you've considered**
Code is completely written by me

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-10-03 16:19] SldinkarGECA commented on #70
hello @skully-coder sir ! Sir I also want to contribute and I want to add a optimized code for the power(x,n) function to this issue. Sir can I start working on it ?

[2021-10-03 16:23] anuragnewbie commented on #70
Hello @skully-coder sir! I have added the wave sort array program to this issue and have created a PR...if you like my code then please merge my PR to your repo sir. Thank you.

[2021-10-03 16:24] shinchancode opened #123 "Code for heap sort to sort using max heap"
**Is your feature request related to a problem? Please describe.**
I would like to add code for Implementation of  Heap sort to sort given set of values using max or min heap.

**Describe the solution you'd like**
I will use array for space optimization.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addit

[2021-10-03 16:47] GigaMoksh commented on #106
hey @skully-coder can I just add one problem for now and merge it? I'll create another issue tomorrow to add more problems, if that's okay with you.

[2021-10-03 16:48] skully-coder commented on #123
Okay @shinchancode you can add

[2021-10-03 16:49] skully-coder commented on #121
Okay @shinchancode , you can add

[2021-10-03 16:49] skully-coder commented on #106
Okay @GigaMoksh

[2021-10-03 16:50] GigaMoksh commented on #106
Cool, thankyou!

[2021-10-03 17:23] dhruvjain896 commented on #123
Hi @skully-coder Can you please assign this issue to me

[2021-10-03 17:38] Dr-blue-cyber commented on #123
hello @skully-coder  as knew this algorithm I can do it easily can you pleased assign me this issue plz

[2021-10-03 17:46] dhruvjain896 commented on #123
Hi @skully-coder Please review my pull request on this issue.

[2021-10-03 18:03] gakash2k01 commented on #70
Hello @skully-coder sir. Can I add code on prefix array to get the result after q queries, for different values of (k,l,r), where k is the value to be added the each element of array n from index l to r?

[2021-10-03 18:07] gakash2k01 opened #133 "[FEATURE] Code to add k to each element between index(l,r) for q queries of an array n."
Prefix array is a useful concept for the beginners to competitive programming. So, I am planning to explain it in with with the help of a program.

[2021-10-03 18:08] gakash2k01 commented on #133
If the idea seems good. Please assign me this task.

[2021-10-03 19:05] rishabh-arya commented on #106
Hey there.....!!!!
Allow me to work on it by assigning this issue to me.

[2021-10-03 19:19] Athi223 commented on #25
@skully-coder

Added the View README option, as the "two-pane" version was too tedious to implement & it would've been useless on mobile devices.
![Categories](https://user-images.githubusercontent.com/31766648/135768183-f7f4508e-ae78-4aab-b168-ca35283f87d0.png)

Also added an Error Page, just incase if needed (For eg. Github API has limited requests per hour, and while testing I reached the limit

[2021-10-03 20:13] Dr-blue-cyber commented on #123
hello @dhruvjain896  @skully-coder  I recently pushed my request with branch name "heap_branch" plz check it out if there is a or every is good plz let me know

[2021-10-03 20:19] skully-coder commented on #123
@dhruvjain896 @Dr-blue-cyber this issue was already assigned, you can work on other issues

[2021-10-03 20:21] skully-coder commented on #25
Okay @Athi223
I will test the changes in the morning!
The website screenshots really look great!

[2021-10-03 20:22] skully-coder commented on #106
@rishabh-arya this issue has already been assigned, you can either create a new issue or work on an existing one

[2021-10-03 20:23] rishabh-arya commented on #106
@skully-coder sure

[2021-10-04 03:32] shubhamSM1298 commented on #103
I would like to work on it. Please assign me.

[2021-10-04 03:50] shubhamSM1298 commented on #70
Sir i want to add a code of
Rabin-Karp Algorithm for Pattern Searching question.
please assign this to me.

[2021-10-04 04:09] nanthakumaran-s opened #139 "Code for AutoCompletion using Trie Data Structure"
**Is your feature request related to a problem? Please describe.**
 I would like to add an autocompletion algorithm using python

**Describe the solution you'd like**
I will use Trie DS to achieve this auto-completion feature

[2021-10-04 04:18] skully-coder commented on #133
Okay @gakash2k01, assigning it to you.

[2021-10-04 04:19] skully-coder commented on #70
Hey everyone, you can create an issue for adding new programs!
Just make sure you follow the contribution guidelines, before creating a Pull Request

[2021-10-04 04:20] skully-coder commented on #139
Okay @nanthakumaran-s!
Looks interesting, assigning this to you.

[2021-10-04 04:20] #103 closed

[2021-10-04 04:21] skully-coder commented on #103
This issue has been closed, you can either create a new issue or find another existing one.
@shubhamSM1298

[2021-10-04 04:36] skully-coder commented on #25
Hey @Athi223
The website looks great!
It's time we go live with it. What do you think?

[2021-10-04 04:58] yashpy commented on #123
I wwould like to contribute more in efficient code, Plz assign this problem to me.

[2021-10-04 05:22] eurus9696 opened #143 "[MISSING]"
## Missing File: Sorted square array in cpp
The problem can have another solution in a different language(cpp)
@skully-coder

## Folder location

[hacktoberfest-competitiveprogramming/Array/Sorted Squared Array/](https://github.com/skully-coder/hacktoberfest-competitiveprogramming/blob/main/Array/Sorted%20Squared%20Array/README.md)

[2021-10-04 05:23] eurus9696 commented on #143
I would like to work on it.

[2021-10-04 05:29] Athi223 commented on #25
@skully-coder

I'll just try to implement the case where there are multiple solutions available (eg. solutions in different languages), because as of now it'll just pick the last solution in such case. Then we can go live

I'll update the API link, it anyway gets linked to the appropriate one so that's not an issue as such. Also are you going to keep this repo name even after hactoberfest? Or will

[2021-10-04 05:43] skully-coder commented on #143
Sure @eurus9696

[2021-10-04 05:45] skully-coder commented on #25
@Athi223 I tested the code and it required the API link to be changed, which is why I suggested it, I might changes the repo name later on too.
Also did you add me as a collaborator?

[2021-10-04 05:47] Athi223 commented on #25
@skully-coder Oh okay. Nah actually I was working on some stuff, I'll do that in a moment.

[2021-10-04 05:47] skully-coder commented on #25
Cool @Athi223

[2021-10-04 05:50] Athi223 commented on #25
@skully-coder Done, please check

[2021-10-04 05:52] skully-coder commented on #25
Yes accepted @Athi223

[2021-10-04 05:55] shubhamSM1298 commented on #143
I would like to work on it.

[2021-10-04 05:56] skully-coder commented on #25
@Athi223 I have create a PR for the changes, please check

[2021-10-04 05:56] coffeeCoder69 opened #146 "README.md in the specified folder [MISSING]"
README.md in the following folder
![image](https://user-images.githubusercontent.com/55917659/135800950-8178821c-f469-405f-b775-f2e6e58dafde.png)

[2021-10-04 05:57] skully-coder commented on #143
@shubhamSM1298 already assigned this issue, check the issue created just now

[2021-10-04 05:59] Athi223 commented on #25
@skully-coder Done
Guess I'll try to search for some `env` option to set the base URL so we could just reuse it.

[2021-10-04 06:01] skully-coder commented on #25
Yes @Athi223, that can be done.
By when can you complete the last feature?

[2021-10-04 06:01] coffeeCoder69 opened #147 "README.md in linked lists [MISSING]"
## Missing File:
README.md

## Folder location
Multiple questions in this folder lack a readme
![image](https://user-images.githubusercontent.com/55917659/135801365-6b5c4d30-8904-4635-adfe-c8c8a9112c1c.png)

[2021-10-04 06:02] #139 closed

[2021-10-04 06:02] coffeeCoder69 opened #149 "README.md in the specified folder [MISSING]"
## Missing File:
README.md

## Folder location
![image](https://user-images.githubusercontent.com/55917659/135801489-2c3176e5-c6c5-421b-8b6d-7366cf4f6a09.png)

[Click here](https://github.com/skully-coder/hacktoberfest-competitiveprogramming/tree/main/Greedy/Coin%20Problem)

[2021-10-04 06:05] Athi223 commented on #25
@skully-coder If everything goes well, probably in a couple of hours. At max till today evening.

[2021-10-04 06:06] skully-coder commented on #25
Okay great!
What will be the deployment method? Will this work with GitHub pages? Or do you want to use something else?

[2021-10-04 06:08] Athi223 commented on #25
Yes it works on Github Pages as long as there is no backend requirement (which isn't, in our case). All we need to do is install a npm package and make small configurations and its done. I'll need collaborator access for deployment...

[2021-10-04 06:10] skully-coder commented on #25
Okay @Athi223 , I am giving you collaborator access to the repo!

[2021-10-04 06:12] skully-coder commented on #25
@Athi223 sent invite

[2021-10-04 06:13] skully-coder opened #152 "Need a social preview image[FEATURE]"
I need a Social preview image for the repository to customize the repository’s social media preview.

Images should be at least 640×320px (1280×640px for best display).

Comment on this issue, to be assigned

[2021-10-04 06:14] Athi223 commented on #25
@skully-coder Accepted, thanks

[2021-10-04 06:25] #143 closed

[2021-10-04 06:38] Sachin19k opened #156 "converting infix expression to prefix and postfix using stack"
**Is your feature request related to a problem? Please describe.**
can I add the code for converting infix expression to prefix and postfix using stack

**Describe the solution you'd like**
I will be using stack as ADT and proceeding with the solution

**Describe alternatives you've considered**
I can try stack as ADT or inbuilt stack.

**Additional context**
Add any other context or screenshots a

[2021-10-04 06:40] Sachin19k opened #157 "Implementation of circular queue using array. [Fixed length]"
**Is your feature request related to a problem? Please describe.**
I want to add code for circular queue using array.

**Describe the solution you'd like**
I will use array having fixed length and will implement operation of circular queue

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2021-10-04 06:40] Sachin19k commented on #157
Please assign this to me. I want to work on it

[2021-10-04 06:40] Sachin19k commented on #156
Please assign this to me. I want to work on it

[2021-10-04 06:43] Tanushreesuthar commented on #157
please assign me  this in c++  and javascript

[2021-10-04 06:56] nanthakumaran-s opened #159 "Code for MinHeap Construction"
**Is your feature request related to a problem? Please describe.**
I would like to add a minheap construction using python

**Describe the solution you'd like**
I will use Python for coding this minheap

[2021-10-04 07:04] RiyazurRazak opened #160 "Code For Snail Sort"
Is your feature request related to a problem? Please describe.
I would like to add code for sorting a 2d array using the snail sort technique.

Describe the solution you'd like
I will use CPP for coding

Describe alternatives you've considered
Code is completely written by me

[2021-10-04 07:11] Dr-blue-cyber opened #161 "KMP algorithm for pattern searching"
**Is your feature request related to a problem? Please describe.**
# **KMP algorithm is used for pattern searching .**
## **we used pattern searching in our daily life for any file search in our Desktop sytem,**
## **we used in google search also example of pattern search**

**Describe the solution you'd like**
## **I implemented KMP algorithm in C++ language with example how its actually work**

[2021-10-04 07:20] #160 closed

[2021-10-04 07:20] RiyazurRazak opened #163 "Code for Snail Sort"
Is your feature request related to a problem? Please describe.
I would like to add code for sorting a 2d array using the snail sort technique.

Describe the solution you'd like
I will use CPP for coding

Describe alternatives you've considered
Code is completely written by me

[2021-10-04 07:21] codewithmini opened #164 "Code for rotating 2D array in anti clockwise and anti-clockwise"
**Is your feature request related to a problem? Please describe.**
I want to add code for rotating 2D array in anti clockwise and anti-clockwise

**Describe the solution you'd like**
I will provide two solution in more efficient way.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add a

[2021-10-04 07:21] codewithmini commented on #164
Please assign me this work.

[2021-10-04 07:44] Sachin19k opened #165 "code for merging two sorted in sorted order without extra space O(1)"
**Is your feature request related to a problem? Please describe.**
I want to add the efficient code for the given problem : Merge without extra space

**Describe the solution you'd like**
Efficient algorithm will be used.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other con

[2021-10-04 07:44] Sachin19k commented on #165
Please assign this to me.

[2021-10-04 08:12] skully-coder commented on #156
@Sachin19k assigning this to you

[2021-10-04 08:13] skully-coder commented on #157
@Tanushreesuthar you can work on this as @Sachin19k already has an open issue, I hope that is fine @Sachin19k? Or do you want to do it?

[2021-10-04 08:15] skully-coder commented on #163
@RiyazurRazak assigned this to you.

[2021-10-04 08:16] skully-coder commented on #164
Okay @codewithmini assigning this to you

[2021-10-04 08:16] skully-coder commented on #165
Okay, @Sachin19k assigning this to you.

[2021-10-04 08:36] Sachin19k commented on #157
I would like to work on it. @Tanushreesuthar can continue the work afterwards, if there is something missing.

[2021-10-04 08:37] suyalamritanshu commented on #163
Can i work on it?

[2021-10-04 08:38] suyalamritanshu commented on #147
Can i do it?

[2021-10-04 08:42] suyalamritanshu commented on #149
Can i do it?

[2021-10-04 08:49] yashpy commented on #165
Please assign me this work.

[2021-10-04 08:50] yashpy commented on #149
Please assign me this work.

[2021-10-04 08:50] yashpy commented on #147
Please assign me this work.

[2021-10-04 08:50] yashpy commented on #133
Please assign me this work.

[2021-10-04 08:51] yashpy commented on #118
Please assign me this work.

[2021-10-04 08:51] Sachin19k commented on #156
Added code. please check

[2021-10-04 08:51] Sachin19k commented on #157
Added code. please check

[2021-10-04 08:54] gakash2k01 commented on #133
I am actually already working on it.

[2021-10-04 08:59] ankit-95 opened #170 "Find Kth Child In Nth Generation in Family Tree. [Competitive Programming Problem]"
**Is your feature request related to a problem? Please describe.**
In Family of Akaash, every male gives birth to the first Male and then Female whereas each Female gives birth to the first female
then male
We are given nth generation and kth child. We need to find the Gender of the child.
Input : N = 3 , k = 4
Tree :
<img width="743" alt="Screenshot 2021-10-04 at 2 30 06 PM" src="https://user-ima

[2021-10-04 09:05] #157 closed

[2021-10-04 09:30] #156 closed

[2021-10-04 09:35] #165 closed

[2021-10-04 09:42] skully-coder commented on #170
Hey @ankit-95, this looks like a good question, assigning this to you.

[2021-10-04 09:44] #118 closed

[2021-10-04 09:45] skully-coder commented on #147
@suyalamritanshu , issue is yours

[2021-10-04 09:45] skully-coder commented on #149
@yashpy issue's yours

[2021-10-04 09:46] skully-coder commented on #163
@suyalamritanshu this issue is already assigned

[2021-10-04 09:46] #163 closed

[2021-10-04 09:47] #159 closed

[2021-10-04 09:56] riya244 commented on #170
Hi, I want to contribute to this issue. Please assign me.

[2021-10-04 10:07] gakash2k01 opened #178 "[FEATURE] Code for spreadsheets problem on codeforces with proper explanation."
I am planning to write the solution for the spreadsheets problem on codeforces with proper documentation for easy understandaing. If this would be a good addition to the repository, then please assign me the task. Thank you.

[2021-10-04 10:48] KulkarniKrishna commented on #106
hey there! I would like to contribute. It would help me a lot if you could assign me. Thanks.

[2021-10-04 12:12] nanthakumaran-s opened #182 "Code for Suffix Trie Construction"
**Is your feature request related to a problem? Please describe.**
I would like to add code for Suffix Trie Construction

**Describe the solution you'd like**
I'm going to implement it in Python.

[2021-10-04 12:27] RiyazurRazak opened #184 "Left Rotation of a given array in K times"
Is your feature request related to a problem? Please describe.
I would like to add code for the left rotation of a given array in k times

Describe the solution you'd like
I will use CPP for coding

Describe alternatives you've considered
Code is completely written by me

[2021-10-04 13:04] Athi223 commented on #25
@skully-coder Final version of the website is ready. I've also fetched the latest version from your repo. Opening a Pull Request to your `main`, please check and test anything that you wish to, and merge it.

Main addition is the support for **Multiple Codes** on `Categories` page, along with some restructuring of pages.

Let me know once you review and merge it, then I'll clone your version and f

[2021-10-04 13:05] yashpy commented on #149
@skully-coder I have made the changes, plz address me if any further changes need to be done in it. Plz mark my contribution as accepted.

[2021-10-04 13:21] #164 closed

[2021-10-04 13:44] ankit-95 opened #187 "Case-specific Sorting of Strings [Competitive Programming Problem]"
**Is your feature request related to a problem? Please describe.**
Given a string S consisting of uppercase and lowercase characters. The task is to sort uppercase and lowercase letters separately such that if the ith place in the original string had an Uppercase character then it should not have a lowercase character after being sorted and vice versa.

**Describe the Test-Case**
Example 1:

Input

[2021-10-04 14:20] skully-coder commented on #25
@Athi223 what is the progress??

[2021-10-04 14:30] Athi223 commented on #25
@skully-coder Actually it I tried on your repo but it seems we need to owner to deploy it, I'll tell you the steps in a moment, I just need to test the paths & routings to make sure everything is working when hosted on GH Pages. Testing it on my repo and then I'll tell you the steps when everything is set up perfectly.

[2021-10-04 14:34] skully-coder commented on #25
Okay works

[2021-10-04 14:42] Athi223 commented on #25
@skully-coder Everything should be fine now.

I want you to do the following steps:

- Make a fresh Clone of your repository (just to avoid unnecessary issues)
- Go to `website` directory
- Run `npm install`
- Run `npm run deploy`
- Let the process complete, then head over to your repo. Check if we have environment present there.

Let me know when you're done with it.

[2021-10-04 14:44] skully-coder commented on #25
Okay @Athi223 i will let you know

[2021-10-04 14:55] tanishagarg1803 opened #188 "Merge K Sorted Array"
**Is your feature request related to a problem? Please describe.**
Merge k Sorted Arrays
Medium Accuracy: 51.19% Submissions: 39846 Points: 4
Given K sorted arrays arranged in the form of a matrix of size K*K. The task is to merge them into one sorted array.
Example 1:

Input:
K = 3
arr[][] = {{1,2,3},{4,5,6},{7,8,9}}
Output: 1 2 3 4 5 6 7 8 9
Explanation:Above test case has 3 sorted
arrays of siz

[2021-10-04 14:56] tanishagarg1803 commented on #188
please assign this issue to me.
i want to contribute in your rep for hacktoberfest 2021

[2021-10-04 15:45] tamal-kundu commented on #146
i Can work on this issue..could u please assign me..

[2021-10-04 17:04] ankit-95 opened #189 "Next Greater Element [Competitive Programming Problem]"
**Is your feature request related to a problem? Please describe.**
Given an array, print the Next Greater Element (NGE) for every element. The Next greater Element for an element x is the first greater element on the right side of x in the array. Elements for which no greater element exist, consider the next greater element as -1.

**Describe the Test-Case**
<img width="986" alt="Screenshot 2021-1

[2021-10-04 17:34] skully-coder commented on #25
@Athi223 , the publish was successful, now what do I have to do?

[2021-10-04 17:34] suyalamritanshu commented on #147
I have to add readme in linked lists folder or inside linked list folder where there are various other folders which do not have  readme.md files. Please can you tell me pl

[2021-10-04 17:37] shikhar13012001 commented on #178
Can I try to work on this issue?

[2021-10-04 17:53] Sriram-bb63 commented on #184
I would like to add python code for this problem

[2021-10-04 17:57] Sriram-bb63 commented on #189
@ankit-95 did you code it in python?

[2021-10-04 17:57] Athi223 commented on #25
@skully-coder Nothing else is needed, the site is up!

Check it here: https://skully-coder.github.io/hacktoberfest-competitiveprogramming

You may want to add it to the README & About section of repo

I guess I missed a small change that needs to be done for the categories page. The site is fully working, it'll just give a 404 if we refresh/enter a category URL manually. Sorry about that. I'll jus

[2021-10-04 17:57] sohamroy19 commented on #113
I'll remove the redundant code from the file if you assign it to me.

[2021-10-04 17:58] ankit-95 commented on #189
@Sriram-bb63. I will be contributing in Java

[2021-10-04 18:00] skully-coder commented on #189
Assigning to you @ankit-95.

[2021-10-04 18:01] skully-coder commented on #25
That's alright! @Athi223 The site looks great!

[2021-10-04 18:01] ankit-95 commented on #187
@skully-coder . Please assign this issue to me. I will contribute in Java

[2021-10-04 18:02] Narotam-singh opened #191 "Merge two sorted lists"
Hey, I want to add the code to merge two sorted lists in C++

## Link
https://leetcode.com/problems/merge-two-sorted-lists/

## Topic
Linked List

[2021-10-04 18:04] Athi223 commented on #25
@skully-coder Thanks!

I've pushed the changes. Just `pull` once and run `npm run deploy` (assuming other things are already done) whenever you get time and the site will be updated.

[2021-10-04 18:06] Sriram-bb63 commented on #189
I would like to contribute my python code

[2021-10-04 18:17] ankit-95 commented on #189
@skully-coder . Please review my pull request.

[2021-10-04 21:10] Arjun-Dagar commented on #184
I have added an optimal C++ code.

[2021-10-04 21:47] Manya1609 commented on #191
Hey...can you please assign this to me!...I would explain the concept and write the code for it in CPP !

[2021-10-05 00:12] MrRobot3301 commented on #191
Hi Narotam,
Assign me this, i will fix it in short ASAP.

[2021-10-05 03:38] skully-coder commented on #25
Okay @Athi223

[2021-10-05 03:58] Nishit278 commented on #189
Can I do it in cpp ?

[2021-10-05 04:01] #113 closed

[2021-10-05 04:07] #184 closed

[2021-10-05 04:08] Shrishti-2002 commented on #191
Please assign this to me, I would like to work on this in c++

[2021-10-05 04:08] skully-coder commented on #191
This problem has already been added, so closing this issue

[2021-10-05 04:08] #191 closed

[2021-10-05 04:09] #25 closed

[2021-10-05 04:15] #101 closed

[2021-10-05 04:15] #104 closed

[2021-10-05 04:16] skully-coder commented on #106
@KulkarniKrishna you can create a new issue with the question or concept you want to add

[2021-10-05 04:16] #106 closed

[2021-10-05 04:16] #105 closed

[2021-10-05 04:16] #107 closed

[2021-10-05 04:17] #108 closed

[2021-10-05 04:17] #109 closed

[2021-10-05 04:17] #110 closed

[2021-10-05 04:17] #111 closed

[2021-10-05 04:17] #121 closed

[2021-10-05 04:17] #123 closed

[2021-10-05 04:18] skully-coder commented on #133
@gakash2k01 is it done?

[2021-10-05 04:18] #70 closed

[2021-10-05 04:20] skully-coder commented on #147
@suyalamritanshu you have to README files in the question folders, not the main folder

[2021-10-05 04:20] #149 closed

[2021-10-05 04:21] #170 closed

[2021-10-05 04:21] skully-coder commented on #178
@gakash2k01 issue is yours

[2021-10-05 04:22] skully-coder commented on #178
@shikhar13012001 you can create a seperate issue

[2021-10-05 04:25] skully-coder commented on #189
@Nishit278 @Sriram-bb63 add your codes

[2021-10-05 04:26] Nishit278 commented on #189
@skully-coder Done.

[2021-10-05 04:35] Nishit278 opened #203 "Excluded from hacktober fest 2021"
Contribution won't count towards hacktoberfest2021

[2021-10-05 04:36] #189 closed

[2021-10-05 04:36] skully-coder commented on #203
Can you provide a screenshot for the same? @Nishit278

[2021-10-05 04:37] #152 closed

[2021-10-05 04:44] Nishit278 commented on #203
![Screenshot 2021-10-05 at 10-13-23 Hacktoberfest '21](https://user-images.githubusercontent.com/56290154/135961423-714fbfa4-0da1-47bd-bea5-33e39e4ee4f4.png)
@skully-coder

[2021-10-05 04:54] skully-coder commented on #203
@Nishit278 it might be showing that because you have two PRs with the same name, one was closed and another was merged. Wait for some time to see if it updates, as Hacktoberfest might treat it as spam.

[2021-10-05 05:02] gakash2k01 commented on #133
Sorry for being late. Will push in a couple of hours. Was a little too occupied.

[2021-10-05 05:12] aark06 commented on #188
I'd like to work on this issue in Java. Please assign it to me.

[2021-10-05 05:14] Nishit278 commented on #203
@skully-coder It could be the case, this is mentioned there too

![image](https://user-images.githubusercontent.com/56290154/135964108-7a464a18-cba9-4d7a-9e60-053256edb454.png)

[2021-10-05 05:23] skully-coder commented on #203
Oh ok, so it must be because of either too many pull requests or I think we merged some spammy pull requests.

[2021-10-05 05:40] skully-coder opened #204 "PRs From This Repo Will Not be Counted Towards Hacktoberfest."
Hey everyone!
You must be wondering why Hacktoberfest isn't counting your PRs in this repository.
Well, this is because this repository has now been *banned* from Hacktoberfest. The reason why this repository was banned is because **Hacktoberfest has recently released a policy where it marks repositories that have Data Structures (DSA) or algorithms, as a repository that encourages people to make

[2021-10-05 05:56] super-pankaj commented on #188
Please assign this issue to me. I would like to solve this issue in C++.

[2021-10-05 06:31] Saloni6111 commented on #161
sir, please assign this issue to me

[2021-10-05 08:01] ankit-95 commented on #187
@skully-coder . Please review the merge request.

[2021-10-05 09:22] gakash2k01 commented on #133
I have it ready, but I am unable to merge because I already have a pending pull request to this repository,

[2021-10-05 09:23] gakash2k01 commented on #133
@skully-coder I have it ready, but I am unable to create a new pull request, as I already have a pending one here.

[2021-10-05 11:08] #187 closed

[2021-10-05 11:11] #178 closed

[2021-10-05 15:23] mayukh00 commented on #203
I too faced this same issue in two of my Pull requests.

[2021-10-09 04:09] anuragnewbie commented on #203
Hi @skully-coder  sir ! Sir please solve this problem...this is my first hacktoberfest and I have raised my first PR in your issue and now I am seeing it is saying as "Excluded project".

[2021-10-09 04:13] skully-coder commented on #203
@anuragnewbie please see #204

[2021-10-09 04:22] anuragnewbie commented on #204
okay sir ! no issues @skully-coder sir. :-)

[2021-10-09 04:23] anuragnewbie commented on #203
okay @skully-coder sir.

[2021-10-09 06:17] #182 closed

[2021-10-09 06:17] #188 closed

[2021-10-18 17:05] Athi223 opened #217 "[BUG] Website Non-functional"
## Bug Description
The website isn't working at all. It seems like the site is not able to fetch any static files (probably) due to change in the URL.
Although you made the necessary change in `package.json`, it seems like that hasn't been reflected in the `index.html` of the `gh-pages` branch (i.e. published branch). Not sure if it was published before making the URL change or there is some other

[2022-05-22 17:38] #204 closed

[2022-05-22 17:39] #203 closed

[2022-05-30 09:39] skully-coder commented on #217
@Athi223 finally fixed the website :)

[2022-05-30 09:39] #217 closed

[2022-06-06 10:03] skully-coder opened #218 "Problems on Dynamic Programming"
Requesting Contributors to add more problems related to Dynamic Programming.
Comment on this issue to be assigned.

[2022-06-06 10:05] skully-coder opened #219 "Problems on Greedy Techniques"
Requesting more problems on Greedy Techniques and Backtracking.
Comment to get assigned to this issue.

[2022-06-06 10:07] skully-coder opened #220 "Problems on Data Structures"
Requesting problems on Data Structures, either applications of data structures of a demonstration works too.

[2022-06-06 10:17] skully-coder opened #221 "Fix 'Complex Method' issue in Binary Tree\BST operations\Binary_Search_Tree_operations.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming) found an issue: Complex Method

It's currently on:
[Binary Tree\BST operations\Binary_Search_Tree_operations.cpp:394-602](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Binary%20Tree/BST%20operations/Binary_Search_Tree_operations.cpp#L394)
Commit 73d75c8f3cc220

[2022-06-06 10:17] skully-coder opened #222 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming) found an issue: Duplicate Code

It's currently on:
[Binary Tree\Expression Tree\Expression_Tree.cpp:18-140](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Binary%20Tree/Expression%20Tree/Expression_Tree.cpp#L18)
[Binary Tree\BST operations\Binary_Search_Tree_op

[2022-06-06 10:17] skully-coder opened #223 "Fix 'Complex Method' issue in Stack\Infix to Postfix and Prefix\Infix_to_postfix_prefix.cpp"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming) found an issue: Complex Method

It's currently on:
[Stack\Infix to Postfix and Prefix\Infix_to_postfix_prefix.cpp:163-243](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Stack/Infix%20to%20Postfix%20and%20Prefix/Infix_to_postfix_prefix.cpp#L163)
Commit 3ecca8ef

[2022-06-06 10:50] daredevil3435 commented on #220
Explain in details would like to work or help

[2022-06-06 12:02] skully-coder commented on #220
You can look in the repository for problems that are not already covered, and add new problems which you think are required or good.

[2022-06-18 06:34] skully-coder opened #224 "[MISSING] README.md at Design/745-Prefix-and-Suffix-Search"
## Missing File:
Missing README

## Folder location
Location of the folder that the missing file is supposed to be.
[Design/745-Prefix-and-Suffix-Search](https://github.com/skully-coder/competitiveprogramming/tree/main/Design/745-Prefix-and-Suffix-Search)

[2022-06-18 06:37] #224 closed

[2022-06-18 06:43] skully-coder opened #226 "[BUG] HTML in Website Markdown not rendering properly"
## Bug Description
HTML in Website Markdown not rendering properly

## Bug location

[Website](https://github.com/skully-coder/competitiveprogramming/tree/main/website)

[2022-06-18 08:34] Ozodimgba commented on #226
This is my first contribution, so I'm a bit confused as to what the problem is. I know I can fix it but I don't where to start.

[2022-06-18 11:13] skully-coder commented on #226
Hi @Ozodimgba,
To explain the problem, if you go over to the website for this repository, you can see that for some questions listed, the README.md file does not load content properly if HTML code is used in it. So you can create a fork of this repository and fix it so that the HTML code can be rendered accordingly.
Assigning you this issue.

[2022-06-18 19:17] Athi223 commented on #226
@skully-coder Could you provide location of any README.md where you encountered the issue. Will be helpful to debug

[2022-06-19 14:28] Athi223 opened #227 "[BUG] 'website' folder visible in "Categories" on Dashboard"
## Bug Description

The "website" folder is visible along with others on Website's Category page

## Bug location

[Bug location](https://skully-coder.github.io/competitiveprogramming/#/categories/)

![image](https://user-images.githubusercontent.com/31766648/174486014-52ec9823-e4f2-459a-a403-dd9361bdeb4c.png)

[2022-06-20 05:11] skully-coder commented on #226
Issue can be found here: https://skully-coder.github.io/competitiveprogramming/#/categories/String in the question `745-Prefix-and-Suffix-Search`

[2022-06-20 05:51] skully-coder commented on #227
@Athi223 can you tell me the node version you are using?

[2022-06-20 05:52] skully-coder commented on #227
Because I am receiving this error:
[code]

[2022-06-20 05:55] Athi223 commented on #227
@skully-coder Yeah actually I encountered the same when I made the setup. Apparently its due to **webpack 5**. I thought you'd be having the previous setup since you deployed it some time ago.

I had to downgrade webpack using `npm i webpack@^4` and then it worked. Try that once

[2022-06-20 05:59] skully-coder commented on #227
Yes, it worked.
Deploying

[2022-06-20 05:59] #227 closed

[2022-06-20 06:09] Athi223 commented on #227
@skully-coder you might need to commit the change to **package.json** too, since we've explicitly added a webpack version so it probably reflected in json

[2022-06-20 06:16] skully-coder commented on #227
Done

[2022-08-14 03:16] #223 closed

[2022-08-14 03:16] #222 closed

[2022-08-14 03:16] #221 closed

[2022-08-14 03:16] #220 closed

[2022-08-14 03:16] #219 closed

[2022-08-14 03:16] #218 closed

[2022-10-01 02:04] Amarnath-Rao opened #234 "Cant upload folder"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-01 02:06] skully-coder commented on #234
Please provide more details about the issue you are facing

[2022-10-01 02:09] Amarnath-Rao commented on #234
![image](https://user-images.githubusercontent.com/96937608/193378969-aa3fadb2-5988-4b67-8e20-6a162ab4187a.png)
Cannot upload complete folder as mentioned in readme.md

[2022-10-01 02:10] #234 closed

[2022-10-02 05:22] skully-coder opened #236 "Fix 4 Maintainability issues in Matrix\Matrix Determinant\Matrix-Determinant.py"
[CodeFactor](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming) found multiple issues last seen at 52ed0845b1ccff0917644005a9423b936e4049fb:

#### ambiguous variable name &#39;l&#39;
- [ ]  [Matrix\Matrix Determinant\Matrix-Determinant.py:17](https://www.codefactor.io/repository/github/skully-coder/competitiveprogramming/source/main/Matrix/Matrix%20Determinant/Matrix-

[2022-10-02 06:40] dhruvjain896 commented on #236
Please assign this issue to me

[2022-10-02 06:42] skully-coder commented on #236
@dhruvjain896 Assigned

[2022-10-02 06:43] dhruvjain896 commented on #236
Thanks

[2022-10-02 13:25] #236 closed

[2022-10-02 13:33] skully-coder opened #238 "[FEATURE] Make category list scrollable in website"
**Is your feature request related to a problem? Please describe.**
The website currently has a category list in the website, which is not scrollable independently.

**Describe the solution you'd like**
I need a separate scroll-bar for the category list on the website.

Anyone familiar with React.js, HTML, CSS or JavaScript can take up this issue

[2022-10-02 17:23] BBentleyDev commented on #238
Hi there, may I be assigned this issue?

[2022-10-02 17:26] skully-coder commented on #238
Sure @BBentleyDev !
Just create a fork of the repository and get started

[2022-10-03 14:12] skully-coder opened #240 "Looking for Questions in Company Interviews"
I am looking for questions which were previously asked in interviews or online tests of companies in their hiring process. It can be any company and problems can be in any language.
If you want this issue to be assigned, comment on this issue.

[2022-10-03 14:18] skully-coder opened #241 "Questions on Recursion"
Looking for frequently asked questions on recursion. If anyone has questions and solutions to contribute, ask to be assigned.

[2022-10-03 18:38] s4shantanu commented on #240
Hey @skully-coder
I have some python programming questions asked in the interview.  So I want to work on this issue can you assign to me this?

[2022-10-03 21:34] harshxtanwar commented on #241
hello @skully-coder can I get assigned to this issue ? I can add a set of 3 questions with solutions.

[2022-10-04 02:29] skully-coder commented on #240
Yeah @s4shantanu .
You can create a fork of this repo and start working. Make sure you maintain the format of the repository while adding your questions.

[2022-10-04 02:31] skully-coder commented on #241
Yes @harshxtanwar .
You can add the questions. Create a fork of the repository and make sure you maintain the structure of the repository while adding the questions.

[2022-10-04 02:32] #238 closed

[2022-10-04 04:21] s4shantanu commented on #240
Hey @skully-coder
Actually, there is some problem I saw your repo it's hard to maintain a repo like that Bcoz I have a problem with the solution I don't have leetcode explanation, time and space complexity description so please assign it to any other contributor.

[2022-10-04 04:32] skully-coder commented on #240
It doesn't have to be a leetcode explaination. It just needs to have the problem statement, sample input and output, and the solution

[2022-10-04 04:36] s4shantanu commented on #240
Okay actually I refer the sorting repo.

[2022-10-05 10:47] ajju-1209 commented on #240
I can contribute some good interview problems in c++  ,can you assign this to me ?

[2022-10-05 11:39] skully-coder commented on #240
Sure @ajju-1209, create a fork of this repo and start working.

[2022-10-05 15:53] #241 closed

[2022-10-07 11:09] umang-singla commented on #240
Hey @skully-coder , I have some good interview problems in C++, Please assign this to me.

[2022-10-08 16:10] pranavsuriya-sr commented on #240
Hey @skully-coder i have some problems related with strings in c++. Please assign this to me.

[2022-10-09 05:27] skully-coder commented on #240
Sure @umang-singla @pranavsuriya-sr , create a fork and get started